.map-filter {
  width: 70%;
  margin: 0 auto;
  padding: 30px;
  margin-top: -270px;
}

.map {
  margin-top: 100px;
}

.chart-card {
  padding: 30px;
  margin-top: 20px;
}

// .maps-container {
//   justify-content: space-evenly;
// }