.sign-in {
  height: 988px;
}
  
.sign-in__column {
  display: flex;
  align-items: center;
}

.sign-in-form {
  margin: 0 auto;
  width: 500px;
  padding: 20px;
}

.sign-in-form__text {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 43px;
  text-align: center;
  color: #27646A;
  text-transform: uppercase;
}

.sign-in-form__button {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 43px;
  text-align: center;
  text-transform: uppercase;
  padding: 5px;
}