*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.theme1 {
  background: $theme1; 
}
.theme2 {
  background: $theme2; 
}
.theme3 {
  background: $theme3; 
}
.theme4 {
  background: $theme4; 
}

.common-spacer {
  height: 6%;
}

.common-is-active {
  border-bottom: 1px solid;
}