.theme1 {
  background-color: $theme1; 
}
.theme2 {
  background-color: $theme2; 
}
.theme3 {
  background-color: $theme3; 
}

.common-spacer {
  height: 6%;
}

.common-is-active {
  border-bottom: 1px solid;
}