
<!DOCTYPE html>
<html>
    
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>

<body>
    <input id="chat-message-test" type="button" value="Test">

    <script>
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/'
            + '1234/'
        )

        var counter = 0
        chatSocket.onmessage = function(e) {
            counter += 1
            if (counter % 10 === 0) {
                chatSocket.send(JSON.stringify({
                    'message': 'alive'
                }))
                counter = 0
            }
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-test').onclick = function(e) {
            fetch('http://'+window.location.host+'/chat/send/', {
                method: 'POST',
                headers: {
                    'Authorization': 'Token 1234'
                }
            });
        };
    </script>
</body>
</html>