.filter-form {
  justify-content: space-evenly;
}

.map-filter__region, .map-filter__category, .map-filter__light {
  padding: 30px;
}

.map-filter-2 {
  text-align: center;
}

.filter-buttons {
  justify-content: space-evenly;
}

.filter-buttons__button {
  padding: 10px; 
  width: 49%;
}