#map {
	width: 800px; 
	height: 800px;
	margin: auto;
}

#cluster-map {
	width: 800px; 
	height: 800px;
	margin: auto;
}

.map-card {
	padding: 30px;
}

.two-buttons {
	justify-content: space-evenly;
  	margin-top: 20px;
}